body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header_section{
  width: 100%;
  /* overflow: auto; */
  background-color: aquamarine;
  height: 50px;
}

.snackbar{
  float:left;
}

.search{
  float: right;
  padding: 5px;
}

.title_content{
  text-align: center;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}